<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actualizar Laboratorio</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;          
        }

        .container {
            padding: 20px 40px;
            border-radius: 8px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
            text-align: center;
        }      
    </style>
</head>

<body>
    <div class="container">
        <h1>Actualizar Laboratorio</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Enviar</button>
        </form>
    </div>
</body>

</html>
