<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eliminar Laboratorio</title>
</head>

<body>
    <div class="container">
        <p>¿Estás seguro que deseas eliminar el laboratorio: "{{ object.nombre }}"?</p>
        <p><a href="{% url 'laboratorio_list' %}">&lt;&lt; Retornar</a></p>
        <form method="post">
            {% csrf_token %}
            <button type="submit">Confirmar</button>
        </form>
    </div>
</body>
</html>
